
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
@model EmlakUI.Areas.User.Models.RegisterModel

<style>
    .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

    .text-danger{
        font-size:12px;
    }
</style>
<form class="form" asp-action="Register" asp-controller="User" asp-area="User">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
    <div class="flex">
        <label>
            <input asp-for="Firstname" autocomplete="off" placeholder="" type="text" class="input">
            <span>Firstname</span>
            <span class="text-danger" asp-validation-for="Firstname"></span>
        </label>

        <label>
            <input asp-for="Lastname" placeholder="" autocomplete="off" type="text" class="input">
            <span>Lastname</span>
            <span class="text-danger" asp-validation-for="Lastname"></span>
        </label>
    </div>
    <label>
        <input required ="" asp-for="Username" placeholder="" autocomplete="off" type="text" class="input">
        <span>Username</span>
        <span class="text-danger" asp-validation-for="Username"></span>
    </label>
    <label>
        <input asp-for="Email" placeholder="" autocomplete="off" type="email" class="input">
        <span>Email</span>
        <span class="text-danger" asp-validation-for="Email"></span>
    </label>

    <label>
        <input asp-for="Password" placeholder="" autocomplete="off" type="password" class="input">
        <span>Password</span>
        <span class="text-danger" asp-validation-for="Password"></span>
    </label>
    <label>
        <input asp-for="ConfirmPassword" placeholder="" autocomplete="off" type="password" class="input">
        <span>Confirm password</span>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </label>
    <button class="submit" type="submit">Submit</button>
    <p class="signin">Already have an acount ? <a asp-area="User" asp-controller="User" asp-action="Login">Login</a> </p>
</form>

