
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>

    <br />

    <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="Login">Return to user login</a>
</body>
</html>
