@{
    var user = await _userService.GetUserAsync();
    var username = user != null ? user.FullName : "Guest";
}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="Estates Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>Estates Housing Category Bootstrap Responsive Web Template | Home :: W3Layouts </title>
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap"
          rel="stylesheet">

    <link href="~/Estates-Starter/assets/images/logo.png" rel="icon" />
    <!-- Template CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Estates-Starter/assets/css/style-starter.css">

    <!-- Font aweshome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        #registerbtn {
            margin-right: -40px;
            color: #3A86FF;
        }

        .search-right {
            display: flex;
            align-items: center;
        }

        #registerbtn:hover {
            color: #002766;
        }

        #loginbtn {
            background-color: #3A86FF;
            color: #fff;
        }

            #loginbtn:hover {
                background-color: transparent;
                color: #3A86FF;
                border: 1px solid #3A86FF;
            }

        .nav-profile {
            border: 1px solid #3A86FF;
            height: 43px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

        .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu:before {
            content: '';
            width: 14px;
            height: 14px;
            background: #002766;
            display: block;
            transform: translateX(-50%) rotateZ(45deg);
            position: absolute;
            top: -7px;
            left: 49%;
            z-index: 1001;
            border: 1px solid #3A86FF;
            border-right: 0;
            border-bottom: 0;
        }

        .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu{
            background: #002766;
            margin-top:10px;
            left:50%;
            transform:translateX(-50%);
            position:absolute;
        }

            .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu ul li a{
                display:flex;
                justify-content:space-around;
            }

                .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu ul li:hover span{
                    color:orange;
                }

        .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu ul li span{
            color:#fff;
            margin-left:5px;
            transition:0.2s;
        }

            .header-w3l .navbar-expand-lg .navbar-nav .dropdown-menu ul li i{
                color: orange;
            }
    </style>
</head>

<body>
    <!--header-->
    <div class="header-w3l">
        <!-- header -->
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg stroke">
                    <a class="navbar-brand pr-lg-5" href="index.html">
                        <img src="~/Estates-Starter/assets/images/logo.png" alt="" class="img-fluid">Estates
                    </a>
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="search-bar ml-lg-4 mt-lg-0 mt-4">
                                <!--/search-right-->
                                <form class="search position-relative">
                                    <input type="search" class="search__input" name="search" placeholder="Search here.."
                                           onload="equalWidth()" required="">
                                    <span class="fa fa-search search__icon"></span>
                                </form>

                                <!--//search-right-->
                            </li>

                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-area="User" asp-controller="Account" asp-action="Register" class="btn btn-style" id="registerbtn">Register</a>
                                </li>
                                <li class="mx-3">
                                    <a asp-area="User" asp-controller="Account" asp-action="Login" class="btn btn-style" id="loginbtn">Login</a>
                                </li>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a class="nav-link nav-profile dropdown-toggle d-flex align-items-center pe-0 mx-4" id="dropdownMenuButton" style="color:#3A86FF;padding-left:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><i class="fa-solid fa-user"></i></span>
                                        <span class="d-none d-md-block dropdown-toggle ps-2 p-2">@username</span>
                                    </a>
                                    <div class="dropdown-menu" style="border-color: #3A86FF;" aria-labelledby="dropdownMenuButton">
                                        <ul>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" asp-area="User" asp-controller="Advert" asp-action="Index">
                                                    <i class="fa-regular fa-user"></i>
                                                    <span>My Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                                    <i class="fa-solid fa-gear"></i>
                                                    <span>Account Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" asp-area="User" asp-controller="Account" asp-action="LogOut">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span>Sign Out</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </nav>
            </div>
        </header>
        <!-- //header -->
    </div>
    <main>
        @RenderBody()
    </main>

    <!-- Template JavaScript -->
    <script src="~/Estates-Starter/assets/js/jquery-3.3.1.min.js"></script>

    <script src="~/Estates-Starter/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->
    <!-- owlcarousel -->
    <script src="~/Estates-Starter/assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 3,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- script for tesimonials agency carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-agency").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials agency carousel slider -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/Estates-Starter/assets/js/bootstrap.min.js"></script>
</body>
</html>